{% set id = "accounts.register" %}
{% set title = "Register | Accounts" %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre-exp.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre-icons.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/css/style.css"|asset("admin") }}">
  <title>{{ title }} | Admin Panel | {{ app.name }}</title>
</head>
<body>
  <div class="container h-full">
    <div class="columns justify-content-center align-items-center h-full">
      <div class="column col-3 col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h4">Register</div>
            <div class="card-subtitle text-gray">Create an account</div>
          </div>
          <div class="card-body">
            <form action="{{ "/admin/accounts/register"|page }}" method="post">
              <div class="form-group">
                <label for="username" class="form-label">Enter username</label>
                <input type="text" name="username" id="username" class="form-input" placeholder="Username" maxlength="6" required>
              </div>
              <div class="form-group">
                <label for="role-id" class="form-label">Choose role</label>
                <select name="role-id" id="role-id" class="form-select" required>
                  <option value="" hidden selected>-- Choose --</option>
                  {% for item in roles %}
                    <option value="{{ item.id }}">{{ item.title }}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="password" class="form-label">Enter password</label>
                <input type="password" name="password" id="password" class="form-input" placeholder="Password" minlength="6" maxlength="32" required>
              </div>
              <div class="form-group">
                <label for="confirm-password" class="form-label">Confirm password</label>
                <input type="password" name="confirm-password" id="confirm-password" class="form-input" placeholder="Confirm Password" minlength="6" maxlength="32" required>
              </div>
              <div class="text-right">
                <button class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
