{% extends "@admin/layouts/sub-2.twig" %}

{% set id = "home" %}
{% set title = "Dashboard" %}

{% block sub_content %}
<div class="container-fluid">
  <div class="row row-eq-spacing">
    <div class="col-12">
      <div class="banner rounded"></div>
    </div>
  </div>
  <div class="row row-eq-spacing">
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-user mr-5"></i> Profile
        </h1>
        <div class="mb-20">
          <div>
            <strong>Username:</strong> {{ admin.username }}
          </div>
          <div>
            <strong>Role:</strong> {{ admin.role.title }}
          </div>
        </div>
        <a href="{{ "/admin/accounts/profile"|page }}" class="btn btn-block">
          Profile <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-crown mr-5"></i> Roles
        </h1>
        <div class="mb-20">
          <div>
            <strong>Roles:</strong> {{ roles|length }} roles
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/roles"|page }}" class="btn btn-block">
          Roles <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-chart-pie mr-5"></i> Sections
        </h1>
        <div class="mb-20">
          <div>
            <strong>Sections:</strong> {{ sections|length }} sections
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/sections"|page }}" class="btn btn-block">
          Sections <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-shield-alt mr-5"></i> Admins
        </h1>
        <div class="mb-20">
          <div>
            <strong>Admins:</strong> {{ admins|length }} admins
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/admins"|page }}" class="btn btn-block">
          Admins <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-users mr-5"></i> Users
        </h1>
        <div class="mb-20">
          <div>
            <strong>Users:</strong> {{ users|length }} users
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/users"|page }}" class="btn btn-block">
          Users <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-image mr-5"></i> Images
        </h1>
        <div class="mb-20">
          <div>
            <strong>Images:</strong> {{ images|length }} images
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/images"|page }}" class="btn btn-block">
          Images <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-file-alt mr-5"></i> Files
        </h1>
        <div class="mb-20">
          <div>
            <strong>Files:</strong> {{ files|length }} files
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/files"|page }}" class="btn btn-block">
          Files <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 mb-20">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-pen mr-5"></i> Contents
        </h1>
        <div class="mb-20">
          <div>
            <strong>Contents:</strong> {{ contents|length }} contents
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/contents"|page }}" class="btn btn-block">
          Contents <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3">
      <div class="card p-15">
        <h1 class="card-title">
          <i class="fa fa-cube mr-5"></i> Categories
        </h1>
        <div class="mb-20">
          <div>
            <strong>Categories:</strong> {{ categories|length }} categories
          </div>
          <div>
            &nbsp;
          </div>
        </div>
        <a href="{{ "/admin/categories"|page }}" class="btn btn-block">
          Categories <i class="fa fa-chevron-right ml-5"></i>
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
