{% extends "@common/layouts/sub-1.twig" %}

{% set id = "error" %}
{% set title = "Error" %}

{% block sub_content %}
<div class="container-fluid">
    <div class="row row-eq-spacing">
        <div class="col-12">
            <h4 class="my-0">
                <i class="fa fa-exclamation-circle mr-5"></i> {{ app.name }} Error
            </h4>
        </div>
    </div>
    <div class="row row-eq-spacing">
        <div class="col-12">
            <div>Type: {{ type }}</div>
            <div>Message: {{ message }}</div>
            <div>Code: {{ code }}</div>
            <div>File: {{ file }}</div>
            <div>Line: {{ line }}</div>
        </div>
    </div>
    {% if type == "HTTP" %}
        <div class="row row-eq-spacing">
            <div class="col-12">
                <div class="card text-monospace text-wrap p-20">
                    {% for item in traces %}
                        <div>#{{ loop.index }}: {{ item.file }} in line {{ item.line }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row row-eq-spacing">
        <div class="col-12">
            <button id="back" class="btn">
                <i class="fa fa-chevron-left mr-5"></i> Back
            </button>
        </div>
    </div>
</div>
{% endblock %}
