<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ app.description }}">
  <meta name="keywords" content="{{ app.keywords }}">
  <meta name="author" content="{{ app.author }}">
  <title>{{ app.name|title }} {{ title }}</title>
  <link rel="icon" href="{{ "/images/favicon.png"|asset("admin") }}" type="image/png">
  <link rel="stylesheet" href="{{ "/@fortawesome/fontawesome-free/css/all.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/halfmoon/css/halfmoon.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/css/style.css"|asset("template") }}">
</head>
<body class="dark-mode">
  {% block base_content %}{% endblock %}
  <script src="{{ "/halfmoon/js/halfmoon.min.js"|npm_asset }}"></script>
  <script src="{{ "/js/script.js"|asset("template") }}"></script>
</body>
</html>
