<div class="sidebar">
  <div class="sidebar-menu">
    <h6 class="sidebar-title">Dashboard</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "home" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "home" ? "bg-primary text-white" }}">
        <i class="fa fa-home"></i>
      </span>
      Home
    </a>
    <a href="{{ "/admin/roles"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "roles" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "roles" ? "bg-primary text-white" }}">
        <i class="fa fa-crown"></i>
      </span>
      Roles
    </a>
    <a href="{{ "/admin/sections"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "sections" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "sections" ? "bg-primary text-white" }}">
        <i class="fa fa-chart-pie"></i>
      </span>
      Sections
    </a>
    <a href="{{ "/admin/accounts/profile"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "accounts.profile" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "accounts.profile" ? "bg-primary text-white" }}">
        <i class="fa fa-user"></i>
      </span>
      Profile
    </a>
    <a href="{{ "/admin/accounts/logout"|page }}" class="sidebar-link sidebar-link-with-icon mb-20">
      <span class="sidebar-icon rounded-circle">
        <i class="fa fa-sign-out-alt"></i>
      </span>
      Logout
    </a>
    <h6 class="sidebar-title">Account</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin/admins"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "admins" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "admins" ? "bg-primary text-white" }}">
        <i class="fa fa-shield-alt"></i>
      </span>
      Admins
    </a>
    <a href="{{ "/admin/users"|page }}" class="sidebar-link sidebar-link-with-icon mb-20 {{ id == "users" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "users" ? "bg-primary text-white" }}">
        <i class="fa fa-users"></i>
      </span>
      Users
    </a>
    <h6 class="sidebar-title">Upload</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin/images"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "images" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "images" ? "bg-primary text-white" }}">
        <i class="fa fa-image"></i>
      </span>
      Images
    </a>
    <a href="{{ "/admin/files"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "files" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "files" ? "bg-primary text-white" }}">
        <i class="fa fa-file-alt"></i>
      </span>
      Files
    </a>
  </div>
</div>
