<div class="sidebar">
  <div class="sidebar-menu">
    <h6 class="sidebar-title">Dashboard</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "home" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "home" ? "bg-primary text-white" }}">
        <i class="fa fa-home"></i>
      </span>
      Home
    </a>
    <a href="{{ "/admin/roles"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "roles" or id == "roles.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "roles" or id == "roles.all" ? "bg-primary text-white" }}">
        <i class="fa fa-crown"></i>
      </span>
      Roles
    </a>
    <a href="{{ "/admin/sections"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "sections" or id == "sections.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "sections" or id == "sections.all" ? "bg-primary text-white" }}">
        <i class="fa fa-chart-pie"></i>
      </span>
      Sections
    </a>
    <a href="{{ "/admin/accounts/profile"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "accounts.profile" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "accounts.profile" ? "bg-primary text-white" }}">
        <i class="fa fa-user"></i>
      </span>
      Profile
    </a>
    <a href="{{ "/admin/accounts/logout"|page }}" class="sidebar-link sidebar-link-with-icon mb-20">
      <span class="sidebar-icon rounded-circle">
        <i class="fa fa-sign-out-alt"></i>
      </span>
      Logout
    </a>
    <h6 class="sidebar-title">Account</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin/admins"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "admins" or id == "admins.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "admins" or id == "admins.all" ? "bg-primary text-white" }}">
        <i class="fa fa-shield-alt"></i>
      </span>
      Admins
    </a>
    <a href="{{ "/admin/users"|page }}" class="sidebar-link sidebar-link-with-icon mb-20 {{ id == "users" or id == "users.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "users" or id == "users.all" ? "bg-primary text-white" }}">
        <i class="fa fa-users"></i>
      </span>
      Users
    </a>
    <h6 class="sidebar-title">Upload</h6>
    <div class="sidebar-divider"></div>
    <a href="{{ "/admin/images"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "images" or id == "images.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "images" or id == "images.all" ? "bg-primary text-white" }}">
        <i class="fa fa-image"></i>
      </span>
      Images
    </a>
    <a href="{{ "/admin/files"|page }}" class="sidebar-link sidebar-link-with-icon {{ id == "files" or id == "files.all" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "files" or id == "files.all" ? "bg-primary text-white" }}">
        <i class="fa fa-file-alt"></i>
      </span>
      Files
    </a>
    <a href="{{ "/admin/contents"|page }}" class="sidebar-link sidebar-link-with-icon mb-20 {{ id == "contents" or id == "contents.all" or id == "contents.single" ? "active" }}">
      <span class="sidebar-icon rounded-circle {{ id == "contents" or id == "contents.all" or id == "contents.single" ? "bg-primary text-white" }}">
        <i class="fa fa-pen"></i>
      </span>
      Contents
    </a>
    <h6 class="sidebar-title">External Links</h6>
    <div class="sidebar-divider"></div>
    <a href="https://github.com/enindu/slender" target="_blank" rel="noopener noreferrer" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon rounded-circle bg-danger text-white">
        <i class="fa fa-external-link-alt"></i>
      </span>
      Slender
    </a>
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank" rel="noopener noreferrer" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon rounded-circle bg-danger text-white">
        <i class="fa fa-external-link-alt"></i>
      </span>
      Markdown Guide
    </a>
  </div>
</div>
