<div class="sidebar">
  <div class="sidebar-menu">
    <h6 class="sidebar-title">Dashboard</h6>
    <div class="sidebar-divider"></div>
    <a href="/admin" class="sidebar-link sidebar-link-with-icon {{ id == "home" ? "active" }}">
      <span class="sidebar-icon {{ id == "home" ? "bg-primary text-white" }}">
        <i class="fa fa-home"></i>
      </span>
      Home
    </a>
    <a href="/admin/roles" class="sidebar-link sidebar-link-with-icon {{ id == "roles" or id == "roles.all" ? "active" }}">
      <span class="sidebar-icon {{ id == "roles" or id == "roles.all" ? "bg-primary text-white" }}">
        <i class="fa fa-crown"></i>
      </span>
      Roles
    </a>
    <a href="/admin/accounts/profile" class="sidebar-link sidebar-link-with-icon {{ id == "accounts.profile" ? "active" }}">
      <span class="sidebar-icon {{ id == "accounts.profile" ? "bg-primary text-white" }}">
        <i class="fa fa-user"></i>
      </span>
      Profile
    </a>
    <a href="/admin/accounts/logout" class="sidebar-link sidebar-link-with-icon">
      <span class="sidebar-icon">
        <i class="fa fa-sign-out-alt"></i>
      </span>
      Logout
    </a>
  </div>
</div>
