<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{{ app.description }}">
  <meta name="keywords" content="{{ app.keywords }}">
  <meta name="author" content="{{ app.author }}">
  <title>{{ title }} | Admin Panel | {{ app.name|title }}</title>
  <link rel="icon" href="{{ "/images/favicon.png"|asset("admin") }}" type="image/png">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre-exp.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/spectre.css/dist/spectre-icons.min.css"|npm_asset }}">
  <link rel="stylesheet" href="{{ "/css/style.css"|asset("admin") }}">
</head>
<body>
  <div class="off-canvas off-canvas-sidebar-show">
    <a href="#sidebar" class="btn btn-action off-canvas-toggle">
      <i class="icon icon-menu"></i>
    </a>
    <div id="sidebar" class="off-canvas-sidebar w-240 min-h-full">
      {% include "@admin/includes/sidebar.twig" %}
    </div>
    <a href="#close" class="off-canvas-overlay"></a>
    <div class="off-canvas-content">
      {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>
