<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ settings.url }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ app.description }}">
    <meta name="keywords" content="{{ app.keywords }}">
    <meta name="author" content="{{ app.author }}">
    <title>Low-Level Rapid Web Development Environment Based on Slim Framework | Slender</title>
    <link rel="icon" href="/images/web/user/favicon.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap">
    <link rel="stylesheet" href="/css/web/user/style.css">
</head>
<body>
    <div class="page-wrapper">
        <div class="content-wrapper">
            <div class="container-fluid h-full">
                <div class="row justify-content-center align-items-center h-full">
                    <div class="col-auto text-center">
                        <img src="/images/web/user/logo.svg" alt="{{ app.name }}" width="150" height="150">
                        <h2 class="my-0">{{ app.name }} {{ app.version }}</h2>
                        <div>{{ app.description }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
